<% include ../partials/header.ejs %>

<div class="container text-center">
  <h1>Add a New Comment to <%= campground.name %></h1>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <form method="POST" action="/campgrounds/<%= campground.id %>/comments">
        <input class="form-control form-group" placeholder="text" name="comment[text]" autofocus>
        <input class="btn btn-lg btn-primary btn-block form-group" type="submit">
      </form>
      <p></p>
      <p class="text-left"><a href="/campgrounds">View All Campgrounds</a></p>
    </div>
  </div>

</div>




<% include ../partials/footer.ejs %>