<% include partials/header.ejs %>

<h1>Login Form</h1>

<form action="/login" method="post">
  <input name="username" placeholder="username">
  <input name="password" placeholder="password" type="password">
  <button>Sign In</button>
</form>

<% include partials/footer.ejs %>
