<% include ../partials/header.ejs %>

<div class="container text-center">
  <h1>Add a New Campground</h1>

  <% campground = locals.campground || {}; %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <form method="POST" action="/campgrounds">
        <input class="form-control form-group" value="<%= campground.name %>" placeholder="Campground Name" name="campground[name]" autofocus>
        <input class="form-control form-group" value="<%= campground.image %>" placeholder="Image URL" name="campground[image]">
        <textarea class="form-control form-group" placeholder="Description" name="campground[description]"><%= campground.description %></textarea>
        <input class="btn btn-lg btn-primary btn-block form-group" type="submit">
      </form>
      <p></p>
      <p class="text-left"><a href="/campgrounds">View All Campgrounds</a></p>
    </div>
  </div>

</div>

<% include ../partials/footer.ejs %>